<header>NODE APP</header>
<nav>
    <ul>
        <div class="container">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/amaze">Something Amazing</a>
            </li>
        </div>
    </ul>
</nav>