{{> head}} {{> nav}}



    <h1>{{scream head}}</h1>

    <img src="http://www.photographymad.com/files/images/short-exposure-star-trail.jpg" alt="Sky full of stars">

    {{!-- <p>{{message}}</p> --}}

{{> footer}}